sudo: false
language: python

matrix:
  include:
    - python: "2.7"
      env:
        - SETUPTOOLS=setuptools PIP=pip
    - python: "2.7"
      env:
        - SETUPTOOLS=setuptools PIP=pip
      os: osx
      sudo: true
    - python: "3.7"
      env:
        - SETUPTOOLS=setuptools PIP=pip
      dist: xenial
      sudo: true
    - python: "3.6"
      env:
        - SETUPTOOLS=setuptools PIP=pip
    - python: "3.5"
      env:
        - SETUPTOOLS=setuptools PIP=pip
    - python: "3.4"
      env:
        - SETUPTOOLS=setuptools PIP=pip
    - python: "3.3"
      env:
        - SETUPTOOLS=setuptools~=39.2 PIP="pip<=18.0"

before_install:
  - pip install $SETUPTOOLS $PIP -U
  - pip --version
  - pip install -r testrequirements.txt
  - pip freeze

install:
  - pip install -e .

after_success:
  - coveralls

# command to run tests
script:
  - nosetests -v --with-coverage --cover-package=fs tests
