language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

os:
  - linux
  - osx

before_install:
  - pip install setuptools pip -U
  - pip --version
  - pip install -r testrequirements.txt
  - pip freeze

install:
  - pip install -e .

after_success:
  - coveralls

# command to run tests
script:
  - nosetests -v --with-coverage --cover-package=fs tests
