# the bare requirements for running tests

# pyftpdlib is needed to spawn a FTP server for the
# FTPFS test suite; we import from pyftpdlib.test, so
# we need (at least some of) pyftpdlib's test
# dependencies
pyftpdlib[test] ~=2.0

# mock is only available from Python 3.3 onward, and 
# mock v4+ doesn't support Python 2.7 anymore
mock ~=3.0 ; python_version < "3.3"

# parametrized to prevent code duplication in tests.
parameterized ~=0.8